/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* Общие стили для страницы*/

.page {
  color: var(--primary-clr);
  font-family: var(--primary-font), sans-serif;
  background-color: var(--primary-bg-clr);
  background-image: var(--primary-bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--reg-font-weight);
}

.content-section {
  margin-inline: auto;
  inline-size: var(--content-sec-size, min(100%, 700px));
}

/* Стили для шапки сайта */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 100px;
  border: var(--primary-border);
  padding-block-start: clamp(120px, 114.3662px + 1.5023vw, 136px);
  background: var(--primary-bg-clr);
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block-end: 24px;
}

.header__logo {
  font-family: var(--accent-font);
  font-size: clamp(49px, 43.3662px + 1.5023vw, 65px);
  text-decoration: none;
  text-transform: uppercase;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(14px, 10.831px + 0.8451vw, 23px);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-block-end: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding-inline-start: 24px;
  padding-block: 0;
  outline: none;
  color: currentColor;
  font-family: var(--accent-font);
  font-weight: var(--reg-font-weight);
  font-size: var(--secondary-font-size);
  text-transform: uppercase;
  background: transparent;
  transition: all .3s ease;
  cursor: pointer;
  min-block-size: 14px;
  will-change: opacity, transform;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity .3s ease;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: 2px;
  inset-block-start: 1px;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity .3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity .3s ease;
}

.theme-menu__button::after {
  content: '';
  display: block;
  background: var(--primary-clr);
  transition: transform .3s ease;
  transform: scaleX(0);
  transform-origin: left center;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  content: '';
  display: block;
  opacity: 0.6;
  background: var(--primary-clr);
  transition: transform .3s ease;
  transform: scaleX(1);
  block-size: 2px;
}

/* Стили для секции с карточками / статьями */

.card-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 100px;
  margin-block-end: 50px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  border: var(--primary-border);
  background: var(--primary-bg-clr);
}

.card__title {
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
  padding-block: 5px;
  color: var(--primary-clr);
  font-family: inherit;
  font-weight: var(--title-font-weight);
  font-size: var(--primary-font-size);
  font-variation-settings: 'wght' var(--title-font-weight);
}

.card__pic-container {
  position: relative;
  border-block: var(--primary-border);
  overflow: hidden;
  /* aspect-ratio: 1 / 1; */
}

.card__pic {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__label {
  position: absolute;
  opacity: 0.5;
  color: var(--primary-clr);
  font-family: var(--accent-font);
  font-size: var(--secondary-font-size);
  text-transform: uppercase;
  text-shadow: -1px 0 var(--label-stroke-clr), 0 1px var(--label-stroke-clr),
    1px 0 var(--label-stroke-clr), 0 -1px var(--label-stroke-clr);
  inset-inline-end: clamp(11px, 6.0704px + 1.3146vw, 25px);
  inset-block-start: clamp(23px, 22.2958px + 0.1878vw, 25px);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--label-stroke-clr)) or (-webkit-text-stroke: 1px var(--label-stroke-clr))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-clr);
    text-stroke: 1px var(--label-stroke-clr);
  }
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-inline: 25px;
  padding-block: 26px;
}

.card__text {
  font-family: inherit;
  font-weight: var(--reg-font-weight);
  font-size: var(--primary-font-size);
  line-height: 116.667%;
}

.card__button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.like-icon {
  display: block;
  inline-size: 27px;
  block-size: 24px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--primary-border);
  background: transparent;
}

.card__icon-button {
  border: none;
}

.card__like-button {
  padding-inline: 35px;
  padding-block: 10px;
}

.button__text {
  color: currentColor;
  font-family: var(--accent-font);
  font-size: var(--secondary-font-size);
  line-height: 90%;
}

/* Стили для секции с кнопкой сохранения*/

.save__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-end: 103px;
}

.save__button {
  gap: 8px;
  padding-inline: 20px;
  padding-block: 15px;
  background: var(--primary-bg-clr);
}

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
  }
}

.floppy-icon {
  width: 21px;
  height: 21px;
}

@media (width <= 375px) {
  .floppy-icon {
    width: 28px;
    height: 28px;
  }
}

