/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --reg-font-weight: 465;
  --title-font-weight: 785;
  --primary-clr: #00cc14;
  --primary-bg-clr: #000;
  --mix-mode-clr: #00cc14;
  --label-stroke-clr: #000;
  --heart-contour: #00cc14;
  --primary-bg-image: repeating-linear-gradient(90deg, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #000 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #007f0c, #004306);
}

:root.theme-light {
  --reg-font-weight: 400;
  --title-font-weight: 700;
  --primary-clr: #000;
  --primary-bg-clr: #fff;
  --label-stroke-clr: #fff;
  --mix-mode-clr: #fff;
  --heart-contour: #000;
  --primary-bg-image: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: dark) {
  :root {
    --reg-font-weight: 465;
    --title-font-weight: 785;
    --primary-clr: #00cc14;
    --primary-bg-clr: #000;
    --mix-mode-clr: #00cc14;
    --label-stroke-clr: #000;
    --heart-contour: #00cc14;
    --primary-bg-image: repeating-linear-gradient(90deg, #000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(180deg, #000 0 2px, transparent 2px 4px),
      linear-gradient(180deg, #007f0c, #004306);
  }
}
